#block-skill {
  margin-bottom: 50px;
  border-bottom: 1px solid green;
  text-align: center;
}

#block-skill h2 {
  display: inline-block;
  font-size: 36px;
  font-weight: 1000;
  width: 200px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid green;
}

#block-skill .progress {
  margin-bottom: 10px;
  height: 30px;
}
